doctype html
html
  head
    title= "oAuth2.0 认证"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://static.e6yun.com/style/normalize.css')
    script(src="https://static.e6yun.com/jquery/3.4.1/jquery.min.js") 
  body
    block content
