extends layout

block content
  div.main
    ul 
      li 姓名: 
        span#name.item  
      li 年龄: 
        span#age.item 
      li 籍贯: 
        span#country.item 
      li.button 
        span 刷新

  script(src="/javascripts/user.js") 